<script type="text/javascript"> $.getScript("./view/js/pages/dashboard/dashboard.js", function(data){return data;});</script>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading"><h2>Système</h2></div>
            <div class="panel-body">
                <p>Base de données externe (ip: 92.243.27.199)</p>
                <p>Synchronisation avec le serveur <span class="fa fa-check success"></span></p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading"><h2>Synchronisation</h2></div>
            <div class="panel-body sync-board">

            </div>
        </div>
    </div>
</div>