<script type="text/javascript"> $.getScript("./view/js/pages/parameters/parameters.js", function(data){return data;});</script>
<div id="parameters-wrapper"></div>

<script id="parametersTpl" type="text/x-handlebars-template">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading"><h2>Système</h2></div>
                <div class="panel-body">
                    <div class="alert alert-info">
                        Sélectionner l'endroit où tous les fichiers seront placés.
                        <button type="button" class="close" data-dismiss="alert">×</button>
                    </div>
                    <form action="">
                        <div class="form-group">
                            <button type="button" class="form-control" id="system-path-select">Sélectonner le dossier racine</button>
                        </div>
                        <div class="form-group">
                            <input type="text" value="{{global.system.root_path}}" id="system-path-dir" class="form-control" readonly>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading"><h2>Logs</h2></div>
                <div class="panel-body">
                    <div class="alert alert-info">
                        Paramètres d'optimisation des logs. Nettoyage et backup en locale de la base de données des logs
                        <button type="button" class="close" data-dismiss="alert">×</button>
                    </div>
                    <form action="">
                        <div class="form-group col-md-6">
                            <label for="max-logs-display"> Nombre maximal de logs</label>
                            <div class="input-group">
                                <input type="number" value="{{global.logs.max_logs_display}}" id="max-logs-display" class="form-control">
                                <span class="input-group-addon">Logs</span>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="max-logs">Nettoyage des logs après</label>
                            <div class="input-group">
                                <input type="number" value="{{global.logs.max_logs_stored}}" id="max-logs" class="form-control">
                                <span class="input-group-addon">Logs</span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading"><h2>Paramètres prédéfinis</h2></div>
                <div class="panel-body">
                    <div class="form-group col-md-12">
                        <label for="default-phases">Phases par défaut d'un projet (max 6)</label>
                        <input type="hidden" id="default-phases" value="{{local.phases_list}}"/>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="default-projects-categories">Catégories par défaut des projets</label>
                        <input type="hidden" id="default-projects-categories" value="{{local.cat_project_list}}"/>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="default-realties-categories">Catégories par défaut des biens</label>
                        <input type="hidden" id="default-realties-categories" value="{{local.cat_realty_list}}"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>