<script type="text/javascript"> $.getScript("./view/js/pages/projects/edit-project.js", function(data){return data;});</script>

<div class="tab-container tab-default">
    <ul class="nav nav-tabs"><li class="dropdown pull-right tabdrop hide"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-angle-down"></i> </a><ul class="dropdown-menu"></ul></li>
        <li class="active"><a href="#addPrj-infos" data-toggle="tab" aria-expanded="true">Infos primaires</a></li>
        <li class=""><a href="#addPrj-descri" data-toggle="tab" aria-expanded="true">Description</a></li>
        <li class=""><a href="#addPrj-library" data-toggle="tab" aria-expanded="true">Biliothèque</a></li>
        <li class=""><a href="#addPrj-doc" data-toggle="tab" aria-expanded="true">options</a></li>
        <li class=""><a href="#addPrj-steps" data-toggle="tab" aria-expanded="true">Phases</a></li>
        <li class=""><a href="#addPrj-stats" data-toggle="tab" aria-expanded="true">Statistiques</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="addPrj-infos">
            <form>
                <div class="form-group">
                    <label for="label">Nom du projet</label>
                    <input type="hidden" id="id_projet" name="id_projet" value="{{id_projet}}">
                    <input type="hidden" id="lat_projet" name="lat_projet" value="{{lat_projet}}">
                    <input type="hidden" id="long_projet" name="long_projet" value="{{long_projet}}">
                    <input type="text" class="form-control" id="label" name="libelle_projet" value="{{libelle_projet}}">
                </div>
                <div class="form-group">
                    <label for="googleMapsSearch">Recherche google maps</label>
                    <input type="text" class="form-control" id="googleMapsSearch">
                </div>
                <div class="form-group">
                    <label for="projectAdress">Adresse</label>
                    <input type="text" class="form-control" id="projectAdress" name="adresse_projet" value="{{adresse_projet}}">
                </div>
                <div class="row">
                    <div class="col-md-10 form-group">
                        <label for="projectCity">Ville</label>
                        <input type="text" class="form-control" id="projectCity" name="ville_projet" value="{{ville_projet}}">
                    </div>
                    <div class="col-md-2 form-group">
                        <label for="projectPc">Code postal</label>
                        <input type="text" class="form-control" id="projectPc" name="cp_projet" value="{{cp_projet}}">
                    </div>
                </div>
                <div id="map" style="height: 260px;"></div>
            </form>
        </div>

        <div class="tab-pane" id="addPrj-descri">
            <form action="">
                <div class="form-group">
                    <label for="shortDescription">Description courte</label>
                    <textarea class="form-control" name="description_courte_projet" id="shortDescription">{{description_courte_projet}}</textarea>
                </div>
                <div class="form-group">
                    <label for="longDescription">Description longue</label>
                    <textarea class="form-control autosize" name="description_longue_projet" id="longDescription">{{description_longue_projet}}</textarea>
                </div>
            </form>
        </div>
        <div class="tab-pane" id="addPrj-library">
            <form>
                <div id="fileUploader" class="form-group dropzone">
                    <div class="dz-default dz-message"><span>Déposez votre fichier ici</span></div>
                </div>
            </form>
        </div>

        <div class="tab-pane" id="addPrj-doc">
            <form>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label>Disponible sur le site web</label>
                        <ul class="demo-btns mb-10">
                            <li class="mb0"><input class="bootstrap-switch" name="actif_en_ligne" type="checkbox" checked="false" data-size="mini" data-on-color="success" data-off-color="default" data-on-text="I" data-off-text="O"></li>
                        </ul>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="projectDiffusionDate">Diffuser à partir du</label>
                        <div class="input-group date">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <input type="text" id="projectDiffusionDate" name="date_debut_diffusion_projet" value="{{date_debut_diffusion_projet}}" class="form-control">
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="projectStartDate">Début de chantier</label>
                        <div class="input-group date">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <input type="text" name="date_debut_chantier_projet" id="projectStartDate" value="{{date_debut_chantier_projet}}" class="form-control">
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="projectEndDate">Fin de chantier</label>
                        <div class="input-group date">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <input type="text" id="projectEndDate" name="date_fin_chantier_projet" value="{{date_fin_chantier_projet}}" class="form-control">
                        </div>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <label for="lien_immoweb_projet">Lien Immoweb</label>
                    <input type="hidden" id="phase_projet" name="phase_projet" value="{{phase_projet}}">
                    <input type="text" id="lien_immoweb_projet" name="lien_immoweb_projet" class="form-control" value="{{lien_immoweb_projet}}">
                </div>
            </form>
        </div>

        <div class="tab-pane" id="addPrj-steps">
            <form action="">
                <div class="form-group">
                    <label for="projectPhase">Phases (min 3 - max 6)</label>
                    <input type="hidden" id="phase_actuelle_projet" name="" value="{{phase_actuelle_projet}}">
                    <input type="hidden" id="projectPhase" style="width:100% !important" value="1,2,3,4,5,6"/>
                </div>
            </form>
            <div id="stepsListContainer" class="row process-wizard process-wizard-primary hidden-xs">
                {{#each projectSteps}}
                <div class="col-xs-{{colSize}} process-wizard-step {{state}}">
                    <div class="text-center process-wizard-stepnum">{{stepLabel}}</div>
                    <div class="progress">
                        <div class="progress-bar"></div>
                    </div>
                    <a href="#" onclick="javascript: setActiveStep({{id}}); return false;" class="process-wizard-dot"></a>
                </div>
                {{/each}}
            </div>
        </div>

        <div class="tab-pane" id="addPrj-stats">
            statistiques sur le projet
        </div>

    </div>
</div>

