<script type="text/javascript"> $.getScript("./view/js/pages/realty/realty.js", function(data){return data;});</script>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>Liste des biens</h2>
                <div class="panel-ctrls">
                </div>
            </div>
            <div class="panel-body panel-no-padding">
                <table id="realtiesList" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Projet</th>
                            <th>Libellé du bien</th>
                            <th>Superficie</th>
                            <th>Prix</th>
                            <th>Statut</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>

<script id="realtyListTpl" type="text/x-handlebars-template">
    {{#each realties}}
    <tr class="even">
        <td>{{project_title}}</td>
        <td>{{realty_title}}</td>
        <td>{{realty_surface}}</td>
        <td class="center">{{realty_net_price}}</td>
        <td class="center">A vendre</td>
        <td>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="fa fa-pencil-square-o"></span>
                </button>
                <ul class="dropdown-menu pull-left">
                    <li><a href="#" data-action="edit">Editer</a></li>
                    <li><a href="#" data-action="delete">Supprimer</a></li>
                </ul>
            </div>
        </td>
    </tr>
    {{/each}}
</script>