<script type="text/javascript"> $.getScript("./view/js/pages/realty/realty.js", function(data){return data;});</script>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>Liste des biens</h2>
                <div class="panel-ctrls">
                </div>
            </div>
            <div class="panel-body panel-no-padding">
                <table id="realtiesList" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Projet</th>
                            <th>Libellé du bien</th>
                            <th>Superficie</th>
                            <th>Prix</th>
                            <th>Statut</th>
                            <th>Web</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>

<script id="realtyListTpl" type="text/x-handlebars-template">
    {{#each realties}}
    <tr id="realty-{{id}}" class="even">
        <td id="project_title-{{id}}">{{project_title}}</td>
        <td id="realty_title-{{id}}">{{realty_title}}</td>
        <td id="realty_surface-{{id}}">{{realty_surface}}</td>
        <td id="realty_price-{{id}}" class="center">{{realty_price}}</td>
        <td class="center">A vendre</td>
        <td id="realty_active_online-{{id}}">{{realty_active_online}}</td>
        <td>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="fa fa-pencil-square-o"></span>
                </button>
                <ul class="dropdown-menu pull-left">
                    <li><a href="#" onclick="javascript: loadRealty({{id}});">Editer</a></li>
                    <li><a href="#" onclick="javascript: loadLibrary({{id}});">Bibliothèque</a></li>
                    <li><a href="#" onclick="javascript: removeRealty({{id}});">Supprimer</a></li>
                </ul>
            </div>
        </td>
    </tr>
    {{/each}}
</script>

<script id="promptNewRealty" type="text/x-handlebars-template">
    <form id="form-add-realty" data-tablename="Realties">
        <div class="row">
            <div class="form-group">
                <label for="">Référence du bien</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="">Choisissez un projet</label>
                <select name="" id="" class="form-control">
                    <option value="">Aucun</option>
                </select>
            </div>
        </div>
    </form>
</script>