<script type="text/javascript"> $.getScript("./view/js/pages/realty/edit-realty.js", function(data){return data;});</script>

<div class="tab-container tab-default">
    <ul class="nav nav-tabs"><li class="dropdown pull-right tabdrop hide"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-angle-down"></i> </a><ul class="dropdown-menu"></ul></li>
        <li class="active"><a href="#realty-infos" data-toggle="tab" aria-expanded="true">Informations générales</a></li>
        <li class=""><a href="#realty-details" data-toggle="tab" aria-expanded="true">Détails</a></li>
        <li class=""><a href="#realty-library" data-toggle="tab" aria-expanded="true">Biliothèque</a></li>
        <li class=""><a href="#realty-options" data-toggle="tab" aria-expanded="true">options</a></li>
        <li class=""><a href="#addPrj-clients" data-toggle="tab" aria-expanded="true">Client(s)</a></li>
        <li class=""><a href="#addPrj-stats" data-toggle="tab" aria-expanded="true">Statistiques</a></li>
    </ul>
    <div class="tab-content">

        <div class="tab-pane active" id="realty-infos">
            <form id="form-tab-1" data-tablename="Realties">
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label for="realtyProjectId">Projet associé</label>
                        <select class="form-control" name="realty_project_id" id="realtyProjectId">
                            {{#each projects}}
                            <option value="{{id}}" {{selected}}>{{project_title}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="realty_title">Nom / référence du bien</label>
                        <input type="hidden" id="realty_id" value="{{id}}">
                        <input type="text" class="form-control" id="realty_title" name="realty_title" value="{{realty_title}}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label for="contractType">Type de contrat</label>
                        <select class="form-control" id="contractType" name="realty_contract_type">
                            {{#each projectTypes}}
                            <option value="{{id}}" {{selected}}>{{label}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="availability">Disponibilité</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <input type="text" class="form-control" id="availability" value="{{realty_availability_date}}">
                        </div>
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="realty_surface">Surface habitable</label>
                        <div class="input-group">
                            <input type="number" class="form-control" id="realty_surface" name="realty_surface" value="{{realty_surface}}">
                            <span class="input-group-addon">m²</span>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-3 form-group">
                        <label for="realtyNetPrice">Prix htva</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="realtyNetPrice" name="realty_net_price" value="{{realty_net_price}}">
                            <span class="input-group-addon">€</span>
                        </div>
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="realtyPrice">Prix tvac</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="realtyPrice">
                            <span class="input-group-addon">€</span>
                        </div>
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="realtyVat">TVA</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="realtyVat" name="realty_vat" value="{{realty_vat}}">
                            <span class="input-group-addon">%</span>
                        </div>
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="realtyM">Prix du m²</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="realtyM">
                            <span class="input-group-addon">€</span>
                        </div>
                    </div>
                </div>

                <hr>
                <div class="form-group">
                    <label for="shortDescription">Description courte</label>
                    <textarea class="form-control" name="realty_short_description" id="shortDescription">{{realty_short_description}}</textarea>
                </div>
                <div class="form-group">
                    <label for="longDescription">Description longue</label>
                    <textarea class="form-control autosize" name="realty_long_description" id="longDescription">{{realty_long_description}}</textarea>
                </div>
            </form>
        </div>

        <div class="tab-pane" id="realty-details">
            <form id="form-tab-details" data-tablename="Realties">
                <div class="row">
                    <div class="col-md-3 form-group">
                        <label for="bedrooms">Surface des chambres</label>
                        <input type="text" class="form-control" id="bedrooms" name="realty_bedrooms" value="{{realty_bedrooms}}">
                        <small class="text-muted">ex: 16,20.5,16</small>
                    </div>
                    <div class="col-md-3 form-group">
                        <label>Rendu de la liste (<strong id="berdroomsCount">3</strong>)</label>
                        <ul class="fa-ul" id="bedroomsList">
                            <li><i class="fa fa-li fa-check"></i>Chambre 1: <strong>16</strong> m²</li>
                            <li><i class="fa fa-li fa-check"></i>Chambre 2: <strong>20.5</strong> m²</li>
                            <li><i class="fa fa-li fa-check"></i>Chambre 3: <strong>16</strong> m²</li>
                        </ul>
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="terraceSurface">Surface terrasse</label>
                        <div class="input-group">
                            <input type="number" class="form-control" id="terraceSurface" name="realty_terrace_surface" value="{{realty_terrace_surface}}">
                            <span class="input-group-addon">m²</span>
                        </div>
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="terraceOrientation">Orientation terrasse</label>
                        <select class="form-control" id="terraceOrientation" name="realty_terrace_orientation" value="{{realty_terrace_orientation}}">
                            <option selected>Choisissez...</option>
                            <option value="n">Nord</option>
                            <option value="ne">Nord Est</option>
                            <option value="e">Est</option>
                            <option value="se">Sud Est</option>
                            <option value="s">Sud</option>
                            <option value="su">Sud Ouest</option>
                            <option value="o">Ouest</option>
                            <option value="no">Nord Ouest</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 form-group">
                        <label for="kitchenSurface">Surface cuisine</label>
                        <div class="input-group">
                            <input type="number" id="kitchenSurface" name="realty_kitchen_surface" value="{{realty_kitchen_surface}}" class="form-control">
                            <span class="input-group-addon">m²</span>
                        </div>
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="kitchenType">Type de cuisine</label>
                        <select name="realty_kitchen_type" id="kitchenType" class="form-control">
                            <option selected>Choisissez...</option>
                            {{#each kitchenTypes}}
                            <option value="{{value}}" {{selected}}>{{label}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="livingSurface">Surface living</label>
                        <div class="input-group">
                            <input type="number" id="livingSurface" name="realty_living_surface" value="{{realty_living_surface}}" class="form-control">
                            <span class="input-group-addon">m²</span>
                        </div>
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="diningRoomSurface">Surface salle à manger</label>
                        <div class="input-group">
                            <input type="number" id="diningRoomSurface" name="realty_dining_room_surface" value="{{realty_dining_room_surface}}" class="form-control">
                            <span class="input-group-addon">m²</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 form-group">
                        <label for="atticSurface">Surface grenier</label>
                        <div class="input-group">
                            <input type="number" id="atticSurface" name="realty_attic_surface" value="{{realty_attic_surface}}" class="form-control">
                            <span class="input-group-addon">m²</span>
                        </div>
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="officeSurface">Surface bureau</label>
                        <div class="input-group">
                            <input type="number" id="officeSurface" name="realty_office_surface" value="{{realty_office_surface}}" class="form-control">
                            <span class="input-group-addon">m²</span>
                        </div>
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="cellarSurface">Surface cave</label>
                        <div class="input-group">
                            <input type="number" id="cellarSurface" name="realty_cellar_surface" value="{{realty_cellar_surface}}" class="form-control">
                            <span class="input-group-addon">m²</span>
                        </div>
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="freelanceSurface">Surface profession libérale</label>
                        <div class="input-group">
                            <input type="number" id="freelanceSurface" name="realty_freelance_surface" value="{{realty_freelance_surface}}" class="form-control">
                            <span class="input-group-addon">m²</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-3">
                        <label for="bathroomNumber">Nombre de salle de bain</label>
                        <input type="text" id="bathroomNumber" name="realty_bathroom_number" value="{{realty_bathroom_number}}" class="form-control">
                    </div>
                    <div class="form-group col-md-3">
                        <label>Rendu de la liste (<strong id="bathroomCount">3</strong>)</label>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="showerNumber">Nombre de salle de douche</label>
                        <input type="text" id="showerNumber" name="realty_shower_number" value="{{realty_shower_number}}" class="form-control">
                    </div>
                    <div class="form-group col-md-3">
                        <label>Rendu de la liste (<strong id="showerCount">3</strong>)</label>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="form-group col-md-2">
                        <label>Iso. acoustique</label>
                        <ul class="demo-btns mb-10">
                            <li class="mb0"><input class="bootstrap-switch" name="realty_security_system" type="checkbox" {{realty_security_system}} data-size="mini" data-on-color="success" data-off-color="default" data-on-text="I" data-off-text="O"></li>
                        </ul>
                    </div>
                    <div class="form-group col-md-2">
                        <label>Alarme</label>
                        <ul class="demo-btns mb-10">
                            <li class="mb0"><input class="bootstrap-switch" name="realty_security_system" type="checkbox" {{realty_security_system}} data-size="mini" data-on-color="success" data-off-color="default" data-on-text="I" data-off-text="O"></li>
                        </ul>
                    </div>
                    <div class="form-group col-md-2">
                        <label>Parlophone</label>
                        <ul class="demo-btns mb-10">
                            <li class="mb0"><input class="bootstrap-switch" name="realty_door_phone" type="checkbox" {{realty_door_phone}} data-size="mini" data-on-color="success" data-off-color="default" data-on-text="I" data-off-text="O"></li>
                        </ul>
                    </div>
                    <div class="form-group col-md-2">
                        <label>Vidéophone</label>
                        <ul class="demo-btns mb-10">
                            <li class="mb0"><input class="bootstrap-switch" name="realty_videophone" type="checkbox" {{realty_videophone}} data-size="mini" data-on-color="success" data-off-color="default" data-on-text="I" data-off-text="O"></li>
                        </ul>
                    </div>
                    <div class="form-group col-md-2">
                        <label>Porte blindée</label>
                        <ul class="demo-btns mb-10">
                            <li class="mb0"><input class="bootstrap-switch" name="realty_security_door" type="checkbox" {{realty_security_door}} data-size="mini" data-on-color="success" data-off-color="default" data-on-text="I" data-off-text="O"></li>
                        </ul>
                    </div>
                    <div class="form-group col-md-2">
                        <label>Buanderie</label>
                        <ul class="demo-btns mb-10">
                            <li class="mb0"><input class="bootstrap-switch" name="realty_laundry" type="checkbox" {{realty_laundry}} data-size="mini" data-on-color="success" data-off-color="default" data-on-text="I" data-off-text="O"></li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>

        <div class="tab-pane" id="realty-library">
            <form>
                <div id="fileUploader" class="form-group dropzone">
                    <div class="dz-default dz-message"><span>Déposez votre fichier ici</span></div>
                </div>
            </form>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <h3>Liste des images</h3>
                </div>
                <div class="col-md-6">
                    <h3>Liste des fichiers</h3>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="realty-options">
            <form id="form-tab-3" data-tablename="Realties">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label>Disponible sur le site web</label>
                        <ul class="demo-btns mb-10">
                            <li class="mb0"><input class="bootstrap-switch" name="realty_active_online" type="checkbox" {{realty_active_online}} data-size="mini" data-on-color="success" data-off-color="default" data-on-text="I" data-off-text="O"></li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>

        <div class="tab-pane" id="addPrj-clients">
            Clients associés...
        </div>

        <div class="tab-pane" id="addPrj-stats">
            statistiques sur le projet
        </div>

    </div>
</div>